/** CMB Layout **/

.cmb_metabox .field { 
	padding: 16px 0;
	border-bottom: 1px solid #DFDFDF;
}

.cmb-row:last-child > [class*="cmb-cell-"]  > .field { 
	border-bottom: 0; 
}

/* Neaten up the margins when metaboxes are within the standard postbox. */
.postbox > .inside > .cmb_metabox {
	margin: -10px 0; 
}

.cmb_metabox .cmb-row { 
	overflow: hidden; 
	margin: 0 -5px; 
	zoom: 1;
}

.cmb_metabox .cmb-row:before,
.cmb_metabox .cmb-row:after {
    content: "";
    display: table;
} 
.cmb_metabox .cmb-row:after {
    clear: both;
}

.cmb_metabox [class*="cmb-cell-"] { 
	float: left; 
	padding: 0 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cmb_metabox .cmb-cell-1  { width: 8.333333333%; }
.cmb_metabox .cmb-cell-2  { width: 16.666666667%; }
.cmb_metabox .cmb-cell-3  { width: 25%; }
.cmb_metabox .cmb-cell-4  { width: 33.333333333%; }
.cmb_metabox .cmb-cell-5  { width: 41.666666667%; }
.cmb_metabox .cmb-cell-6  { width: 50%; }
.cmb_metabox .cmb-cell-7  { width: 58.333333333%; }
.cmb_metabox .cmb-cell-8  { width: 66.666666667%; }
.cmb_metabox .cmb-cell-9  { width: 75%; }
.cmb_metabox .cmb-cell-10 { width: 83.333333333%; }
.cmb_metabox .cmb-cell-11 { width: 91.666666667%; }
.cmb_metabox .cmb-cell-12 { width: 100%; }

@media all and ( max-width: 850px ) {

	.cmb_metabox [class*="cmb-cell-"] { width: 100%; }

}
