/** 
 * Title Field
 */
.CMB_Title .field-title { 
	margin: 8px 0 !important; 
}

.CMB_Title h2 { 
	margin: 0 !important; 
	padding: 0 !important; 
}


/** 
 * Color Picker
 */
.CMB_Color_Picker .field-item { 
	float: left; 
	clear: both; 
}

.CMB_Color_Picker:before,
.CMB_Color_Picker:after {
    content: "";
    display: table;
} 

.CMB_Color_Picker:after {
    clear: both;
}

.CMB_Color_Picker {
    zoom: 1;
}


/**
 * Timepicker
 */
div.time-picker { position: absolute; height: 191px; width:4em; /* needed for IE */ overflow: auto; background: #fff; border: 1px solid #aaa; z-index: 99; margin: 0; }
div.time-picker-12hours { width:6em; /* needed for IE */ }
div.time-picker ul { list-style-type: none; margin: 0; padding: 0; }
div.time-picker li { cursor: pointer; height: 10px; font: 12px/1 Helvetica, Arial, sans-serif; padding: 4px 3px; }
div.time-picker li.selected { background: #0063CE; color: #fff; }

.cmb_metabox input.cmb_timepicker { 
	width: 100px; 
	margin-right: 0;
}

.CMB_Datetime_Timestamp_Field input + input { 
	margin-left: 4px; 
}

/**
 * Select Fields
 */

.cmb_select { 
	width: 100%; 
}

.select2-offscreen { 
	display: none; 
} 
