
/** Repeatable **/

.cmb_metabox .field.repeatable > .field-item { 
 	padding-right: 25px; 
 	margin-bottom: 10px; 
 }

.cmb_metabox .repeat-field { 
	display: block !important; 
	clear: both; 
}

.CMB_Text_Small_Field.repeatable .field-item,
.CMB_Date_Field.repeatable .field-item,
.CMB_Time_Field.repeatable .field-item,
.CMB_Date_Timestamp_Field.repeatable .field-item,
.CMB_Date_Timestamp_Field.repeatable .field-item,
.CMB_Datetime_Timestamp_Field.repeatable .field-item {
	float: left; clear: both;
}

.cmb-delete-field { 
	position: absolute;
	top: 6px;
	right: 0;
	width: 16px;
	height: 16px;
	padding-left: 0;
	padding-right: 0;
	text-indent: 26px;
	overflow: hidden;
	white-space: nowrap;
	padding: 0;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	color: #464646;
	cursor: pointer;
	border-width: 0;
	border-radius: 3px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.3);	
	background: #f3f3f3;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f4f4f4));
	background-image: -webkit-linear-gradient(top,#fefefe,#f4f4f4);
	background-image: -moz-linear-gradient(top,#fefefe,#f4f4f4);
	background-image: -o-linear-gradient(top,#fefefe,#f4f4f4);
	background-image: linear-gradient(to bottom,#fefefe,#f4f4f4);
}

.cmb-delete-field:hover,
.cmb-delete-field:focus,
.cmb-delete-field:active {
	box-shadow: 0 0 0 1px rgba(0,0,0,0.6);
}

.cmb-delete-field .cmb-delete-field-icon {
	content: ' ';
	display: block;
	position: absolute;
	height: 8px;
	width: 8px;
	top: 50%;
	left: 50%;
	margin-top: -4px;
	margin-left: -4px;
	background-image: url( '../../images/cmb-icon-remove.png');
	background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

	.cmb-delete-field .cmb-delete-field-icon {
		background-image: url( '../../images/cmb-icon-remove@2x.png');
		background-size: 8px 8px;
	}

}