/** 
 * Repeatable
 */

.cmb_metabox .field.repeatable > .field-item { 
 	padding-right: 30px; 
 	margin-bottom: 10px; 
 }

.cmb_metabox .repeat-field { 
	display: block !important; 
	clear: both; 
}

.CMB_Text_Small_Field.repeatable .field-item,
.CMB_Date_Field.repeatable .field-item,
.CMB_Time_Field.repeatable .field-item,
.CMB_Date_Timestamp_Field.repeatable .field-item,
.CMB_Date_Timestamp_Field.repeatable .field-item,
.CMB_Datetime_Timestamp_Field.repeatable .field-item {
	float: left; clear: both;
}

.cmb-delete-field { 
	display: inline-block;
	text-decoration: none;
	font-size: 11px;
	line-height: 20px;
	height: 22px;
	width: 22px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	vertical-align: top;
	position: absolute;
	top: 3px;
	right: 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.cmb-delete-field:hover,
.cmb-delete-field:focus,
.cmb-delete-field:active {
	background: #fafafa;
	border-color: #999;
	color: #222;
}

.cmb-delete-field .cmb-delete-field-icon {
	content: ' ';
	display: block;
	position: absolute;
	height: 8px;
	width: 8px;
	top: 50%;
	left: 50%;
	margin-top: -4px;
	margin-left: -4px;
	background-image: url( '../../images/cmb-icon-remove.png');
	background-repeat: no-repeat;
	text-indent: 8px;
	overflow: hidden;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

	.cmb-delete-field .cmb-delete-field-icon {
		background-image: url( '../../images/cmb-icon-remove@2x.png');
		background-size: 8px 8px;
	}

}